@use "../abstracts/mixins" as *;
@use "../base/variables" as *;

.place-card {
    @include hover-card;
    border-radius: $radius;

    &__name {
        font-weight: 600;
    }

    &__temp {
        color: #808080;
    }

    img {
        height: 200px;
        object-fit: cover;
    }

    &--sunny {
        border-top: 4px solid #ffa500;
    }

    &--rainy {
        border-top: 4px solid #4682b4;
    }
}
